header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: white;
}

.navbar {
    position: relative;
    z-index: 10;
    height: 50px;
    line-height: 50px;
    padding: 0px 16px;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 25px;
    color: black;
    font-weight: 700;
    letter-spacing: -1px;
    height: 100%;
    font-style: italic;
    display: inline-block;
    text-decoration: none;
}

.header-links-container {
    display: inline-block;
    display: flex;
    gap: 16px;
    align-items: center;
}

.separator {
    width: 2px;
    background: #d3d3d3;
    border-radius: 5px;
    height: 24px;
}

.social-media-icon {
    display: inline-flex;
}

.header-link {
    line-height: initial;
}

.header-link:hover {
    border-bottom: 1px solid var(--theme-color);
}

@media (max-width: 767.98px) {
    .header-links-container {
        gap: 15px;
    }
}
