@import url(main.css);

.photo-container {
    padding-top: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo {
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

@media (max-width: 767.98px) {
    .photo {
        height: 200px;
        width: 200px;
    }
}

.quote-text {
    font-size: 14px;
}

.heart {
    color: #d2042d;
}

.content {
    margin-top: -80px;
}

.hero-section {
    background-color: white;
    border-radius: 5px 5px 0px 0px;
}

.title {
    font-size: 40px;
    text-align: center;
    line-height: initial;
}

@media (max-width: 767.98px) {
    .title {
        font-size: 30px;
    }
}

.sub-title {
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
}

.start-paragraph {
    padding-top: 35px;
    line-height: 25px;
}

@media (min-width: 1024px) {
    .start-paragraph {
        padding-top: 61px;
    }
}

@media (min-width: 768px) {
    .start-paragraph {
        text-indent: 50px;
    }
}

.start-paragraph::first-letter {
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    width: 100%;
    border-radius: 5px;
    width: 50%;
}

@media (max-width: 768px) {
    .image {
        width: 100%; /* To make the image to take full width in small screens. */
    }
}

.image-text {
    font-size: 14px;
    color: grey;
}
