@import url(main.css);

.content {
    margin-top: 50px;
    padding: 30px 0;
    min-height: calc(
        100vh - 106px
    ); /* 106 = header height (50px) + footer height (56px) */
}

.photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo {
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.hero-section {
    margin-top: 25px;
    background-color: white;
    border-radius: 5px 5px 0px 0px;
}

.title {
    text-align: center;
    font-size: 25px;
}

.about-container {
    text-align: center;
}

#about {
    padding: 0 50px 20px;
}

.location-img {
    max-width: 100%;
}

.sub-title {
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
}

.journey-title {
    font-size: 25px;
}

.timeline-container,
.books-container {
    padding-top: 60px;
}

.timeline-content-container {
    padding-top: 50px;
}

.contact-container {
    padding: 100px 0 50px;
}

.social-icons {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
}

.social-media-icon {
    display: inline-block;
}

.social-media-icon img {
    vertical-align: middle;
}

.tags-container {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.tags {
    border: 1px solid grey;
    padding: 5px 10px;
    display: inline-block;
    line-height: 14px;
    border-radius: 5px;
    box-sizing: border-box;
}

.tags:hover {
    border-color: #ff6b6b;
    cursor: default;
}

.books-list {
    display: flex;
    justify-content: center;
}

.books-list ul {
    margin-top: 10px;
}

.books-list ul li {
    margin-top: 10px;
    cursor: default;
}

.active-book {
    font-weight: bold;
}
