/* Margin top */

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-70 {
    margin-top: 70px;
}

.mt-80 {
    margin-top: 80px;
}

/* Margin bottom */

.mb-20 {
    margin-bottom: 20px;
}

/* Core */

.container {
    max-width: 1040px;
    margin: 0 auto;
    padding: 0px 20px;
    text-align: justify;
}

@media (max-width: 767.98px) {
    .container {
        text-align: initial;
    }
}
